#welcome-heading
{
    position : sticky;
    margin-top : 0px !important;
    text-align : center;
    background-color: orange;
    color : white;
    padding-top : 13px;
    padding-bottom : 10px;
    height : 80px;
}

div.CASHe-topics-list
{
    position : absolute;
    top : 12.5%;
    height : 87.5%;
    overflow-x: hidden;
    width : 25%;
    left : 0px;
    background-color : rgb(192,192,192);
}
div.word-doc{
    overflow-y:auto;
}
#displayDIV
{
    position : absolute;
    height : 80%;
    min-width: 71.5%;
    max-width : 80%;
    top : 18.5%;
    left : 28.5%;  
}

#displayWebsiteLinks
{
    position : absolute;
    border : 4px solid black;
    top : 18.5%;
    left : 28.5%;
    height : 70%;
    width : 60%;
    padding-top:10%;
}

#display-quiz-pages
{
    display : none;
    position : absolute;
    border : 4px solid black;
    height : 70%;
    width : 60%;
    top : 18.5%;
    left : 28.5%;
}

td
{
    padding : 10px;
    text-align : center;
}

a:visited , a:link
{
    text-decoration : none;
    color : black;

}

button
{
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#vid2, #vid3, #vid4, #vid5, #vid6, #vid1
{
    cursor : pointer;
    display : none;
    height : 80px;
}

/* div
{
    padding : 2px;
} */

body
{
    font-family : tahoma;
}
.vid:hover, .videos:hover, .word-doc:hover, .word-docs:hover, .pdf-doc:hover, .pdf-docs:hover, .ppt-docs:hover, .links:hover, .links-websites:hover, .ppt:hover, .documentation:hover, .fintechQuestions:hover, .casheQuestions:hover, .bhanixQuestions:hover, .competitiveAnalysisQuestions:hover, #quiz:hover
{
    background-color : rgb(255,153,51); 
}
.changeBgColor
{
    background-color : blue !important;
}

.videos:focus
{
    background-color : blue;
}

/* .quiz-topics:hover, #quiz:hover
{
    /* background-color : orange; */
    /* color : black; 
} */
.vid, .documentation, .ppt, .links-websites, #quiz, .word-doc, .pdf-doc
{
    cursor : pointer;
    font-weight : bold;
    border-bottom : 1px solid silver;
    font-size : 15x;
    background-color : rgb(64,64,64);
    color : white;
    padding-left : 20px;
    padding-top : 6.5%;
    height : 60px;
    max-height : 60px; 
}
.videos, .word-doc, .word-docs, .ppt-docs, .pdf-doc, .pdf-docs, .links, .quiz-topics
{
    border-bottom : 1px solid silver;
    cursor : pointer;
    display  : none;
    color : white;
    height : 60px;
    max-height : 60px;
    
}

.word-doc, .pdf-doc, .ppt-docs, .links, .quiz-topics, .videos
{
    padding-left : 40px;
}
.word-docs, .pdf-docs, .fintechQuestions, .casheQuestions, .bhanixQuestions, .competitiveAnalysisQuestions
{
    padding-left : 60px;
    padding-right : 15px;
    color : white;
}
.videos 
{
    font-weight : bold;
    height : 50px;
}
#fintechQuiz, #casheQuiz, #bhanixQuiz, #competitiveAnalysisQuiz
{
    font-weight : bold;
}
.vid, .documentation, .ppt, .links-websites
{
    border-top : 1px solid black;
}
/* .links-websites
{
    border-bottom : 1px solid black;
} */

.videos 
{
    font-weight : normal;
}

.CASHe-topics-list 
{
    overflow : visible;
}

.align
{
    text-align : right;
    color : white;
    font-weight : bold;
}
.navigateText
{
    position : absolute;
    top : 20%;
    left : 35%;
    border : 4px solid black;
    padding-top : 13%;
    padding-left : 5%;
    padding-right : 5%;
    height : 70%;
    max-width : 80%;
    color : black;

}
#display
{
    position : sticky;
    top : 0%;
    padding : 3px;
    border : 4px solid black;
}
#welcome-heading
{
    color : black;
    background-color : orange;
    right : 2px;
}

.word-doc, .pdf-doc, .ppt-docs, .links, .videos, .quiz-topics, .word-docs, .pdf-docs
{
    background-color : rgb(64,64,64);
}
.word-doc, .pdf-doc
{
    text-transform : uppercase;
    font-weight : bold;
}
.fintechQuestions, .casheQuestions, .bhanixQuestions, .competitiveAnalysisQuestions
{
    border-bottom : 1px solid black;
    cursor : pointer;
    color : white;
    display : none;
    height : 60px;
    background-color : rgb(64,64,64);
}
a{
    text-decoration : none;
    color : white;
}

.progress
{
    border : 2px solid black;
}


/* original code */
#display-fintech-quiz-page #fintech-quiz-tips,#display-cashe-quiz-page #cashe-quiz-tips,#display-bhanix-quiz-page #bhanix-quiz-tips, #display-competitive-analysis-quiz-page #competitive-analysis-quiz-tips
{
    position : absolute;
    top : 20%;
    left : 30%;
}

/* .tips
{
    position : absolute;
    top : 20%;
    left : 30%;
} */

#link:hover
{
    color : blue;
    text-decoration : underline;
}

#display-fintech-quiz-page #displayFintechQuizScore, #display-cashe-quiz-page #displayCasheQuizScore, #display-bhanix-quiz-page #displayBhanixQuizScore, #display-competitive-analysis-quiz-page #displayCompetitiveAnalysisQuizScore
{
    position : absolute;
    top : 27%;
    left : 7%;
    color : black;
    font-size : 35px;
    font-weight : bold;
}
/* ---------------------------------------------------------------*/

/*   vid1 to vid6  aligned */
/* ===========================*/
#vid1, #vid2, #vid4, #vid5
{
    /*padding-top : 10%;*/
    padding-top : 6.5%;
}
#vid3, #vid6
{
    padding-top : 3.2%;
}
/* --------------------------------------*/

/* word docs aligned */
/*======================*/
#word-doc-4,#word-doc-5,#word-doc-11,#word-doc-13,#word-doc-14
{
    padding-top : 6.5%;
}
#word-doc-1,#word-doc-2,#word-doc-3,#word-doc-6,#word-doc-7,#word-doc-8,#word-doc-9,#word-doc-10,#word-doc-12,#word-doc-17,#word-doc-18,#word-doc-19,#word-doc-20,#word-doc-21,#word-doc-22,#word-doc-23,#word-doc-24,#word-doc-25,#word-doc-26
{
    padding-top : 3.2%;
}

/* --------------------------------------*/
/* PDF and PPT documents, links */
/*================================*/
.pdf-docs, .ppt-docs, .links
{
    padding-top : 6.5%;
}
/* --------------------------------------*/

/* quiz topics */
/*===============*/
.quiz-topics
{
    padding-top : 6.5%;
}
/* --------------------------------------*/

/* fintech questions */
/*====================*/
#fintech_1
{
    padding-top : 6.5%;
}
#fintech_2, #fintech_3, #fintech_4
{
    padding-top : 3.2%;
}
/* -------------------------------------*/

/* cashe questions */
/*====================*/
#cashe_6, #cashe_8, #cashe_9, #cashe_10
{
    padding-top : 6.5%;
}
#cashe_7
{
    padding-top : 3.2%;
}

/* ----------------------------------------------*/

/* bhanix questions */
/*====================*/
.bhanixQuestions
{
    padding-top : 6.5%;
}
/* ----------------------------------------------*/

/* competitive Analysis questions */
/*===============================*/
#competitive_16, #competitive_19
{
    padding-top : 3.2%;
}
#competitive_18, #competitive_20
{
    padding-top : 6.5%;
}
/* ----------------------------------------------*/