<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CASHe learnings</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/casheLearnings.css">
        <script src="js/angular.min.js"></script>
        <script src="js/jquery-3.6.0.min.js"></script>

        <link rel="shortcut icon" href="#">
    </head>

    <body ng-app="casheLearningsApp" ng-controller="quizController">

        <!-- ==========================================================================-->

        <!-- Welcome to CASHe learnings -->
        <!-- ---------------------------- -->

        <h1 id='welcome-heading'>
            Welcome to CASHe learnings
        </h1>

        <!-- ==========================================================================-->

                                        <!-- CASHe topics list -->
                                        <!-- -------------------- -->

        <div class="CASHe-topics-list">

            <!-- ==========================================================================-->
                                        <!-- Video recordings -->
                                        <!-- ----------------- -->

            <div>
                <div id="vidRec" ng-class="{selected : videoRecordingTitle == videoRecording}" ng-click="changeBackgroundTopic(videoRecording,$event);displayInThePage($index,$event)" class="vid">
                    {{videoRecording}}
                </div> 
        
                <div ng-init="videosAutoSlideDown($index)" ng-repeat="vid in videoRecordings">
                    <div ng-class="{selected : selectedVideo == $index}" class="videos" id="vid{{$index+1}}"  ng-click="changeBackgroundTopic($index,$event);displayInThePage($index,$event)">
                        {{vid.name}}
                    </div>
                </div>
            </div>

            <!-- ==========================================================================-->

            <!-- Documentation -->
            <!-- ===================-->

            <div id="document" ng-class="{selected : selectedDocumentation == documentation}" ng-click="changeBackgroundTopic(documentation,$event);displayInThePage($index,$event)" class="documentation">
                {{documentation}}
            </div>

            <!-- ---------X-----------------X----------------------X---------------X--------------X -->
            <!-- Word and PDF Documents  -->
            <!-- ===================-->

            <div ng-repeat="doc in documentsOfCashe">
                <div ng-class="{selected : selectedDoc == $index}" id="{{doc.id}}" class="documents" ng-click="changeBackgroundTopic($index,$event);displayInThePage($index,$event)">
                    {{doc.name}}
                </div>

                <div ng-repeat="wordDoc in doc.word_documents">
                    <a style="text-decoration : none" ng-href="{{wordDoc.document}}" download>
                        <div ng-class="{selected : selectedWordDoc == $index}" id="{{wordDoc.wordID}}" class="word-docs" ng-click="changeBackgroundTopic($index,$event);displayInThePage($index,$event)">
                            {{wordDoc.word_doc}}
                        </div>
                    </a>
                </div>

                <div ng-repeat="pdfDoc in doc.pdf_documents">
                    <a style="text-decoration : none" ng-href="{{pdfDoc.document}}" download>
                        <div ng-click="changeBackgroundTopic($index,$event);displayInThePage($index,$event)" target="_blank" ng-class="{selected : selectedPdfDoc == $index}" id="{{pdfDoc.pdfID}}" class="pdf-docs">
                            {{pdfDoc.pdf_doc}}
                        </div>
                    </a>
                </div>
            </div>
        
            <!-- --------X-------------X------------X-----------------X----------------X -->

            <!-- ppt documents -->
            <!-- =================-->

            <div id='ppt-doc' ng-class="{selected : selectedPptTitle == pptTitle}" ng-click="changeBackgroundTopic(pptTitle,$event);displayInThePage($index,$event)" class="ppt">
                {{pptTitle}}
            </div>

            <div ng-repeat="ppt in pptDocuments">
                <div ng-class="{selected : selectedPptDoc == $index}" class="ppt-docs" id="ppt-doc-{{$index+1}}" ng-click="changeBackgroundTopic($index,$event);displayInThePage($index,$event)" >   
                    {{ppt}}
                </div>
            </div>

            <!-- --------X-------------X------------X-----------------X----------------X -->

            <!-- website Links -->
            <!-- ==================-->

            <div id='websites' ng-class="{selected : selectedLinksTitle == linksTitle}" ng-click="changeBackgroundTopic(linksTitle,$event);displayInThePage($index,$event)" class="links-websites">
                {{linksTitle}}
            </div>

            <div ng-repeat="links in linksWebsites">
                <div ng-class="{selected : selectedLinks === $index}" ng-click="changeBackgroundTopic($index,$event);displayLinks($event)" id="{{links.ID}}" class="links">
                    {{links.name}}
                </div>
            </div>

            <!----------X-------------X------------X-----------------X----------------X  -->

            <!-- QUIZ -->
            <!-- ===========-->
            
                <div ng-class="{selected : selectedQuizTitle == quizTitle}" class="quizzTitle" id="quiz" ng-click="changeBackgroundTopic(quizTitle,$event);displayInThePage($index,$event)">
                    {{quizTitle}}
                </div>

            <!-- All Quiz Topics -->
            <!-- ===========-->

            <div ng-repeat="quizNames in quizTopicsList">
                <div id="{{quizNames.quizID}}" ng-class="{selected : selectedQuizTopics == $index}" class="quiz-topics" ng-click="changeBackgroundTopic($index,$event);displayQuizTips($event)">
                    {{quizNames.quizName}}
                </div>

                <div ng-init="firstQuestionSelectedByDefault($index,$event)" ng-repeat="fintech in quizNames.fintechQuestionaire">
                    <div id="{{fintech.questionID}}" ng-class="{selected : selectedFintechQuestion == $index}" class="fintechQuestions" ng-click="changeBackgroundTopic($index,$event);jumpToQuestion($event)">
                        {{fintech.questionName}}
                    </div>
                </div>
    
               <div ng-repeat="cashe in quizNames.casheQuestionaire">
                    <div id="{{cashe.questionID}}" ng-class="{selected : selectedCasheQuestion == $index}" class="casheQuestions" ng-click="changeBackgroundTopic($index,$event);jumpToQuestion($event)">
                        {{cashe.questionName}}
                    </div>
                </div>
    
                <div ng-repeat="bhanix in quizNames.bhanixQuestionaire">
                    <div id="{{bhanix.questionID}}" ng-class="{selected : selectedBhanixQuestion == $index}" class="bhanixQuestions" ng-click="changeBackgroundTopic($index,$event);jumpToQuestion($event)">
                        {{bhanix.questionName}}
                    </div>
                </div>
    
                <div ng-repeat="competitiveAnalysis in quizNames.competitiveAnalysisQuestionaire">
                    <div id="{{competitiveAnalysis.questionID}}" ng-class="{selected : selectedCompetitiveAnalysisQuestion == $index}" class="competitiveAnalysisQuestions" ng-click="changeBackgroundTopic($index,$event);jumpToQuestion($event)">
                        {{competitiveAnalysis.questionName}}
                    </div>
                </div>
            </div>
            
            <!-- --------X-------------X------------X-----------------X----------------X ---- -->
        </div>

     <!-- ======================================================================= -->

     <!-- display website links -->
     <!-- ------------------------ -->

     <div ng-show="wordDocDisplayScreen==true" id="word-doc-display-screen">
        <table>
            <tr ng-repeat="doc in documentsOfCashe">
                <td>
                    <img src="images/word-doc-tile-png.jpg"></img><br />
                    {{doc.name}}
                </td>
            </tr>
        </table>
    </div>

    <div id="pdf-doc-display-screen">

    </div>

    <div ng-show="displayWebsiteLinksPage == true" id="displayWebsiteLinks" align="center">
        <div ng-show="showCasheContents==true" id="cashe-contents">
            <img id='cashe-logo' align="center" src="images/cashe-logo.png"></img>
            <div>
                <img id="raman-kumar" src="images/Raman_1.png"></img>
               
                <ul id="cashe-short-notes">
                    <li class="about">
                        CASHe is a loan giving mobile app for salaried professionals.
                    </li>
                    <li class="about">
                        Disburses short-term personal loan to people who don’t have credit history.
                    </li>
                    <li class="about">
                        Loans range from Rs.1,000 to Rs.4,00,000 with the credit period ranging<br /> 
                        from 3 months to 1 ½ year. 
                    </li>
                    <li class="about">
                        Loan lending would happen in quick time.
                    </li>
                </ul>
                <p id="chairman">Mr.V.Raman Kumar<br />Chairman</p>
            </div>
        </div>

        <div ng-show="showBhanixContents==true" id="bhanix-contents">
            <img align="center" src="images/bhanix-finance-logo.png"></img>

            <div>
                <ul id="bhanix-short-notes">
                    <li class="about">
                        Bhanix is a non-banking financial corporation registered with Reserve Bank of India.
                    </li>
                    <li class="about">
                        Incorporated on March 15th, 1996.
                    </li>
                    <li class="about">
                        One of the leading short-term unsecured personal loans giving institution that uses a technology called CASHe.
                    </li>
                    <li class="about">
                        Customer need not disclose any surety to the institution for getting loan sanctioned.
                    </li>
                    <li class="about">
                        CASHe is India’s fastest loan giving app for salaried young professionals.
                    </li>
                </ul>
            </div>

        </div>

        <h5 id="more-info" style="color:black"><b>For more information, please click on the below link</b></h5>
        <h5 id="website-link" style="color:black"><b><a ng-href="{{websitelink}}" target="_blank" id="link">{{websitelink}}</a></b></h5>
    </div>

    <!-- ======================================================================= -->
    <div ng-show="displayNavigateTipPage == true" id="displayBlankPage">
        <h1 class='navigateText' align="center">Please navigate through sub-accordions</h1>
    </div>

    <!-- ======================================================================= -->

        <!-- display videos, documentations, ppts, links and quiz -->
        <!-- =========================================================-->

    <div ng-show="displayVideosDocsPage == true" id="displayDIV">
        <object id="display" height="100%" width="100%" data="https://www.youtube.com/embed/Pl7XP8o7v6g"></object>
    </div>

    <p id="developers_credit">
        Developed by Kamalesh Shiva Kumar, Priyanka Bhatnagar and Rohit Gopal
    </p>
        <!-- ======================================================================= -->
    <div ng-show="displayQuizPages==true" id="display-quiz-pages">

        <!-- The Fintech Quiz Page -->
        <!-- ------------------------- -->

        <div ng-show="displayFintechQuizPage==true" id="display-fintech-quiz-page">
            <!-- -------X---------X--------X -------X---------X--------X-------- -->

                <!-- Display fintech quiz tips page -->
                <!-- ===========================-->
                
            <div ng-show="displayFintechQuizTips==true" id='fintech-quiz-tips'>
                <!-- <div ng-show="displayFintechQuizTips == true" id='fintech-quiz-tips' > -->
                <div class='tips' align="center">
                    <p>Welcome to Fintech Ecosystem Quiz !!</p><br />
                    <p>This Quiz contains 5 Questions</p><br />
                    <p>Each Question has two options</p><br />
                    <p>Each correct option carries 1 point</p><br />
                    <p>Try to answer as many questions as possible</p><br />
                    <p>Time limit : 10 minutes</p>
                </div>

                <div id="fintechQuizStart" class="start-quiz" ng-click="startQuiz('fintechQuiz')">
                    <a href="#" class="btn btn-info btn-lg start-quiz-button">
                        <div class="glyphicon"></div> Start Quiz
                    </a>
                </div>
            </div>

                <!-- -------X---------X--------X -------X---------X--------X-------- -->
                                <!-- Fintech Quiz Page -->
                                <!--======================-->

            <div ng-show="fintechQuizPage==true" id="fintech-quiz-page">

                    <!-- Previous button -->
                    <!-- ==================-->

                <div id="fintech-previous-button" ng-hide="currentQ==1" ng-click="questionDecrement();currentQ=currentQ-1">
                    <a href="#" class="btn btn-info btn-lg prev">
                        <div class="glyphicon glyphicon-circle-arrow-left"></div>Previous
                    </a>
                </div>


                    <!-- -------X---------X--------X -------X---------X--------X---------- -->

                    <!-- question and options -->
                    <!-- ===========================-->

                <div>

                        <!-- question -->
                    <p ng-init="currentQ=1" class="quiz-question">
                        {{questions[currentQ-1].Question}}
                    </p><br />
                        
                    <table align="center" ng-init="currentQ=1">
                        <tr>
                            <td ng-model="selections[currentQ-1]" ng-click="selectAnswer($index)" 
                                ng-repeat="op in questions[currentQ-1].options" class="option">
                                <input ng-checked="selections[currentQ-1] === $index" type="radio"
                                name="fintech_option_quiz" ng-value="op">
                                {{op}}
                            </td>
                        </tr>
                    </table>
                </div>

                    <!-- -------X---------X--------X -------X---------X--------X---------- -->

                    <!-- progress bar -->
                    <!-- =================-->
                <center>
                    <div ng-show="currentQ>0" id="fintech-progressBar" class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0"
                            aria-valuemax="100" ng-style="currentProgress">
                        </div>
                    </div>
                </center>

                    <!-- -------X---------X--------X -------X---------X--------X-------------- -->

                    <!-- countdown timer and next button -->
                    <!-- ================================-->

                <div class="timer-next-button">

                        <!-- count down timer -->
                    <div ng-show="countDown" id="countdown" class="background-of-countdown">
                        <p class="countdown-timer-text">Time left off</p>
                        <h1 ng-style="{'color':foregroundColor,'font-weight':fontWeight,'font-size':fontSize,'top':top}" id="fintech-countdown-timer"></h1>
                    </div>

                        <!-- next button -->
                    <div id="fintech-next-button" ng-hide="currentQ==5" ng-click="questionIncrement();currentQ=currentQ+1">
                        <a href="#" class="btn btn-info btn-lg next">
                            Next&nbsp;<div class="glyphicon glyphicon-circle-arrow-right"></div>
                        </a>
                    </div>

                    <input id="fintech-submit-button" ng-show="currentQ==5" ng-click="submitQuiz('fintechQuiz',false)"
                    class="btn btn-primary" type="submit" value="Submit">
                    </input>
                </div>
            </div>
                <!-- -------X---------X--------X -------X---------X--------X----------- -->

                <!-- Display fintech quiz score -->
                <!-- ================================-->

            <div align="center" ng-show="displayFintechQuizScorePage==true" id="displayFintechQuizScore">
                <!--<div ng-show="displayFintechQuizScorePage == true" align="center" id="displayFintechQuizScore">-->
                <h1 id="fintechScoreText">Congratulations on completing Fintech Eco System Quiz !!</h1>
                <h1 id="fintech-quiz-score"></h1>
                <h1 id="fintech-quiz-feedback"></h1>
            </div>

                <!-- -------X---------X--------X -------X---------X--------X----------- -->

        </div>

            <!-- ======================================================================= -->

            <!-- CASHe Quiz Page -->
            <!-- ===========================-->

        <div ng-show="displayCasheQuizPage == true" id="display-cashe-quiz-page" ng-init="currentQ=6">

                <!-- -------X---------X--------X -------X---------X--------X-------- -->

                        <!-- Display CASHE quiz tips page -->
                        <!-- ===========================-->
            <div ng-show="displayCasheQuizTips==true" id='cashe-quiz-tips' >
                <!-- <div ng-show="displayCasheQuizTips == true" id='cashe-quiz-tips' > -->
                <div class="tips" align="center">
                    <p>Welcome to CASHe Quiz !!</p><br />
                    <p>This Quiz contains 5 Questions</p><br />
                    <p>Each Question has two options</p><br />
                    <p>Each correct option carries 1 point</p><br />
                    <p>Try to answer as many questions as possible</p><br />
                    <p>Time limit : 10 minutes</p>
                </div>

                <div id="casheQuizStart" class="start-quiz" ng-click="startQuiz('casheQuiz')">
                    <a href="#" class="btn btn-info btn-lg start-quiz-button">
                        <div class="glyphicon"></div> Start Quiz
                    </a>
                </div>

            </div>
            
                <!-- -------X---------X--------X -------X---------X--------X-------- -->

                                    <!-- Previous button -->
                                    <!-- ==================-->
            <div ng-show="casheQuizPage == true" id="cashe-quiz-page">
                <div id="cashe-previous-button" ng-hide="currentQ==6" ng-click="questionDecrement();currentQ=currentQ-1">
                    <a href="#" class="btn btn-info btn-lg prev">
                        <div class="glyphicon glyphicon-circle-arrow-left"></div> Previous
                    </a>
                </div>  
                <!-- -------X---------X--------X -------X---------X--------X---------- -->

                                    <!-- question and options -->
                                    <!-- ===========================-->
                <div>
                    <p class="quiz-question">{{questions[currentQ-1].Question}}</p><br />
                    <table align="center" ng-init="currentQ=6">
                        <tr>
                            <td ng-model="selections[currentQ-1]" ng-click="selectAnswer($index)" 
                            ng-repeat="op in questions[currentQ-1].options" class="option">
                                <input ng-checked="selections[currentQ-1] === $index" type="radio"
                                    name="cashe_option_quiz" id="{{op}}" ng-value="op">
                                    {{op}}
                            </td>
                        </tr>
                    </table>
                </div>            


                <!-- -------X---------X--------X -------X---------X--------X---------- -->

                                            <!-- progress bar -->
                                            <!-- =================-->

                <center>
                    <div ng-show="currentQ>0" id="cashe-progressBar" class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100" ng-style="currentProgress">
                        </div>
                    </div>
                </center>

                <!-- -------X---------X--------X -------X---------X--------X-------------- -->

                                    <!-- countdown timer and next button -->
                                    <!-- ================================-->

                <div class="timer-next-button">

                        <!-- count down timer -->
                    <div ng-show="countDown" id="casheCountDown" class="background-of-countdown">
                        <p class="countdown-timer-text">Time left off</p>
                        <h1 ng-style="{'color':foregroundColor,'font-weight':fontWeight,'font-size':fontSize,'top':top}" id="cashe-countdown-timer"></h1>
                    </div>

                        <!-- next button -->
                    <div id="cashe-next-button" ng-hide="currentQ==10" ng-click="questionIncrement();currentQ=currentQ+1">
                        <a href="#" class="btn btn-info btn-lg next">
                            Next&nbsp;<div class="glyphicon glyphicon-circle-arrow-right"></div>  
                        </a>
                    </div>

                    <input id="cashe-submit-button" ng-show="currentQ==10" ng-click="submitQuiz('casheQuiz',false)"
                        class="btn btn-primary" type="submit" value="Submit">
                    </input>
                </div>
            </div>

                <!-- -------X---------X--------X -------X---------X--------X----------- -->

                <!-- Display CASHe quiz score -->
                <!-- ================================-->
            <div ng-show="displayCasheQuizScorePage==true" align="center" id="displayCasheQuizScore">
                <h1 id="casheScoreText">Congratulations on completing CASHe Quiz !!</h1>
                <h1 id="cashe-quiz-score"></h1>
                <h1 id="cashe-quiz-feedback"></h1>
            </div>

                <!-- -------X---------X--------X -------X---------X--------X----------- -->

        </div>

            <!-- ======================================================================= -->

        <div ng-show="displayBhanixQuizPage==true" id="display-bhanix-quiz-page">

            <div ng-show="displayBhanixQuizTips==true" id='bhanix-quiz-tips'>
                <div class="tips" align="center">
                    <p>Welcome to Bhanix Quiz !!</p><br />
                    <p>This Quiz contains 5 Questions</p><br />
                    <p>Each Question has two options</p><br />
                    <p>Each correct option carries 1 point</p><br />
                    <p>Try to answer as many questions as possible</p><br />
                    <p>Time limit : 10 minutes</p>
                </div>

                <div id="bhanixQuizStart" class="start-quiz" ng-click="startQuiz('bhanixQuiz')">
                    <a href="#" class="btn btn-info btn-lg start-quiz-button">
                        <div class="glyphicon"></div> <b>Start Quiz</b>
                    </a>
                </div>
            </div>
            
            <div ng-show="bhanixQuizPage==true" id="bhanix-quiz-page">
            
                                <!-- Previous button -->
                                <!-- ==================-->

                <div ng-hide="currentQ==11" ng-click="questionDecrement();currentQ=currentQ-1">
                    <a href="#" class="btn btn-info btn-lg prev">
                        <div class="glyphicon glyphicon-circle-arrow-left"></div> <b>Previous</b>
                    </a>
                </div>

            
            <!-- -------X---------X--------X -------X---------X--------X---------- -->
            
                                <!-- question and options -->
                                <!-- ===========================-->
            
                <div>
            
                        <!-- question -->
                    <p ng-init="currentQ=11" class="quiz-question">
                        {{questions[currentQ-1].Question}}
                    </p><br />
            
                    <table align="center" ng-init="currentQ=11">
                        <tr>
                            <td ng-model="selections[currentQ-1]" ng-click="selectAnswer($index)" 
                            ng-repeat="op in questions[currentQ-1].options" class="option">
                            <input ng-checked="selections[currentQ-1] === $index" type="radio"
                                name="bhanix_option_quiz" id="{{op}}" ng-value="op">
                                {{op}}
                            </td>
                        </tr>
                    </table>
                </div>
            
            <!-- -------X---------X--------X -------X---------X--------X---------- -->
            
                                                <!-- progress bar -->
                                                <!-- =================-->
                <center>
                    <div id="bhanix-progressBar" class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0"
                            aria-valuemax="100" ng-style="currentProgress">
                        </div>
                    </div>
                </center>
            
            <!-- -------X---------X--------X -------X---------X--------X-------------- -->
            
                                        <!-- countdown timer and next button -->
                                        <!-- ================================-->
            
                <div class="timer-next-button">
            
                        <!-- count down timer -->
                    <div ng-show="countDown" id="bhanixCountDown" class="background-of-countdown">
                        <p class="countdown-timer-text">Time left off</p>
                        <h1 ng-style="{'color':foregroundColor,'font-weight':fontWeight,'font-size':fontSize,'top':top}" id="bhanix-countdown-timer"></h1>
                    </div>
            
                        <!-- next button -->
                    <div id="bhanix-next-button" ng-hide="currentQ==15" ng-click="questionIncrement();currentQ=currentQ+1">
                        <a href="#" class="btn btn-info btn-lg next">
                            Next&nbsp;<div class="glyphicon glyphicon-circle-arrow-right"></div>
                        </a>
                    </div>
            
                    <input id="bhanix-submit-button" ng-show="currentQ==15" ng-click="submitQuiz('bhanixQuiz',false)"
                        class="btn btn-primary" type="submit" value="Submit">
                    </input>
                </div>
            </div>
            
                                    <!-- Display Bhanix quiz score -->
                                    <!-- ================================-->
            
            <div ng-show="displayBhanixQuizScorePage==true" align="center" id="displayBhanixQuizScore">
                <h1>Congratulations on completing BHANIX Quiz !!</h1>
                <h1 id="bhanix-quiz-score"></h1>
                <h1 id="bhanix-quiz-feedback"></h1>
            </div>
        </div>

            <!-- ================================================================================= -->
        <div ng-show="displayCompetitiveAnalysisQuizPage==true" id="display-competitive-analysis-quiz-page" ng-init="currentQ=16">

                <!-- -------X---------X--------X -------X---------X--------X-------- -->

                        <!-- Display Competitive Analysis quiz tips page -->
                        <!-- ===========================-->
            <div ng-show="displayCompetitiveAnalysisQuizTips==true" id="competitive-analysis-quiz-tips" >
                <div class='tips' align="center">
                    <p>Welcome to Competitive Analysis Quiz !!</p><br />
                    <p>This Quiz contains 5 Questions</p><br />
                    <p>Each Question has two options</p><br />
                    <p>Each correct option carries 1 point</p><br />
                    <p>Try to answer as many questions as possible</p><br />
                    <p>Time limit : 10 minutes</p>
                </div>

                <div id="competitiveAnalysisQuizStart" class="start-quiz" ng-click="startQuiz('competitiveAnalysisQuiz')">
                    <a href="#" class="btn btn-info btn-lg start-quiz-button">
                        <div class="glyphicon"></div> Start Quiz
                    </a>
                </div>
            </div>

            <div ng-show="competitiveAnalysisQuizPage==true" id="competitive-analysis-quiz-page">
            
                        <!-- Previous button -->
                        <!-- ==================-->

                <div ng-hide="currentQ==16" ng-click="questionDecrement();currentQ=currentQ-1">
                    <a href="#" class="btn btn-info btn-lg prev">
                        <div class="glyphicon glyphicon-circle-arrow-left"></div> <b>Previous</b>
                    </a>
                </div>

    
    <!-- -------X---------X--------X -------X---------X--------X---------- -->
    
                        <!-- question and options -->
                        <!-- ===========================-->
    
                <div>
                        <!-- question -->
                    <p ng-init="currentQ=16" class="quiz-question">
                        {{questions[currentQ-1].Question}}
                    </p><br />
        
                    <table align="center" ng-init="currentQ=16">
                        <tr>
                            <td ng-model="selections[currentQ-1]" ng-click="selectAnswer($index)" 
                                ng-repeat="op in questions[currentQ-1].options" class="option">
                                <input ng-checked="selections[currentQ-1] === $index" type="radio"
                                name="competitive_analysis_option_quiz" id="{{op}}" ng-value="op">
                                {{op}}
                            </td>
                        </tr>
                    </table>
                </div>
    
    <!-- -------X---------X--------X -------X---------X--------X---------- -->
    
                                        <!-- progress bar -->
                                        <!-- =================-->
                <center>
                    <div id="competitive-analysis-progressBar" class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0"
                            aria-valuemax="100" ng-style="currentProgress">
                        </div>
                    </div>
                </center>
    
    <!-- -------X---------X--------X -------X---------X--------X-------------- -->
    
                                <!-- countdown timer and next button -->
                                <!-- ================================-->
    
                <div class="timer-next-button">
            
                        <!-- count down timer -->
                    <div ng-show="countDown" id="competitiveAnalysisCountDown" class="background-of-countdown">
                        <p class="countdown-timer-text">Time left off</p>
                        <h1 ng-style="{'color':foregroundColor,'font-weight':fontWeight,'font-size':fontSize,'top':top}" id="competitive-analysis-countdown-timer"></h1>
                    </div>
            
                        <!-- next button -->
                    <div id="competitive-analysis-next-button" ng-hide="currentQ==20" ng-click="questionIncrement();currentQ=currentQ+1">
                        <a href="#" class="btn btn-info btn-lg next">
                            Next&nbsp;<div class="glyphicon glyphicon-circle-arrow-right"></div>
                        </a>
                    </div>
            
                    <input id="competitive-analysis-submit-button" ng-show="currentQ==20" ng-click="submitQuiz('competitiveAnalysisQuiz',false)"
                        class="btn btn-primary" type="submit" value="Submit">
                    </input>
                </div>
            </div>
    
                            <!-- Display Bhanix quiz score -->
                            <!-- ================================-->
    
            <div ng-show="displayCompetitiveAnalysisQuizScorePage==true" align="center" id="displayCompetitiveAnalysisQuizScore">
                <h1>Congratulations on completing Competitive Analysis Quiz !!</h1>
                <h1 id="competitive-analysis-quiz-score"></h1>
                <h1 id="competitive-analysis-quiz-feedback"></h1>
            </div>
        </div>
    
        <!-- ==============================================================================-->

        <link rel="stylesheet" href="css/quiz.css">
        <link rel="stylesheet" href="css/styles.less">
        <script src="js/casheLearnings.js"></script>
    </body>
</html>