<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/quiz-new.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
</head>
<body ng-app="quiz-app-unique">
    <div id="quiz-wrapper" ng-controller="quiz-controller-unique">
        <div class="header">
            <h1> Welcome to CASHe Learnings</h1>
        </div>
        <div class="page-content">
            <div class="topics-accordion">
                <div ng-if="quizStartPageVisible" ng-class="{'selected-topic': topic === activeQuizTopic}" 
                class="topic-wrapper" ng-click="selectQuiz(topic)" ng-repeat="topic in quizTopics">
                    <div class="topic">{{topic}}</div>  
                </div>
                <div ng-if="!quizStartPageVisible" ng-class="{'selected-topic': currentQuestionIndex === $index}" 
                class="question-list-wrapper" ng-repeat="question in questions"
                ng-click="selectQuestion($index)">
                    <div class="question-list">{{($index+1) + ". " + question.question_content}}</div>
                    <div ng-if="question.selected_option !== -1"><img class="answered" src="./images/check.png" /></div>
                </div>
            </div>
            <div class="quiz-content">
                <div class="quiz-start-page" ng-if="quizStartPageVisible">
                    <div class="content">
                        <div class="start-quiz"><button class="button-5" role="button" ng-click="startQuiz()">Start Quiz</button></div>
                    </div>
                </div>
                <div class="quiz-body" ng-if="!quizStartPageVisible">
                    <div class="quiz-timer">
                        <div class="submit-button">
                            <button class="button-5" role="button" ng-click="submitQuiz()">Submit Quiz</button>
                        </div>
                        <div class="timer-content" ng-model="timeLeftDisplay">
                            <div>{{timeLeftDisplay}}</div>
                        </div>
                    </div>
                    <div class="question">
                        <div class="question-content">{{questions[currentQuestionIndex].question_content}}</div>
                    </div>
                    <div class="answer">
                        <div 
                        class="option" 
                        ng-repeat="option in questions[currentQuestionIndex].answer.options"
                        ng-click="selectOption(option.option_id)"
                        ng-value="{{$index}}"
                        >
                            <label>
                                <input type="radio" name="option_set" ng-checked="questions[currentQuestionIndex].selected_option === option.option_id"/>
                                {{option.option_content}}
                            </label>
                        </div>
                    </div>
                    <div class="progressbar-container">
                        <div class="progressbar" >
                            <div id="progressbar"></div>
                        </div>
                    </div>
                    <div class="nav-buttons">
                        <div class="previous-button" ng-if="currentQuestionIndex !== 0" >
                            <button class="button-5" role="button" ng-click="previousQuestion()">Previous</button>
                        </div>
                        <div class="next-button" ng-if="currentQuestionIndex !== questions.length-1" >
                            <button class="button-5" role="button" ng-click="nextQuestion()">Next</button>
                        </div>
                    </div>
                    <div id="scoreModal" class="modal" ng-if="showScoreModal" ng-click="closeModal($event)">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close" id="x-modal-close" ng-click="closeModal($event)">&times;</span>
                                <h2>Your Score !</h2>
                            </div>
                            <div class="modal-body">
                                <h3>Congratulations! Your score is: {{score}}</h3>
                            </div>
                            <div class="modal-footer">
                                <h3>An effort by developers of CASHe</h3>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/quiz.js"></script>
</body>
</html>