<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Technology</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/learnings.cashe.co.in/css/casheLearnings.css"> -->
        <script src="https://s3.ap-south-1.amazonaws.com/learnings.cashe.co.in/js/angular.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/learnings.cashe.co.in/js/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <link rel="shortcut icon" href="#">
    </head>

    <body ng-app="casheLearningsApp" ng-controller="quizController">
        <h1 id='welcome-heading'>
            Technology
        </h1>

        <div class="business-topics-list">
            <div ng-repeat="business in businessPage">
                <div ng-class="{selected : selectedBusinessTopic === $index}" class="business-topics" ng-attr-id="{{businessPage[$index].businessId}}"  ng-click="changeBackgroundTopic($index,$event);displayInThePage($index,$event)">
                    {{businessPage[$index].businessName}}
                </div>

                <div ng-repeat="subTopics in business.sub_topics">
                <!-- <div class="sub-topics" ng-repeat="subTopics in business.sub_topics"> -->
                    <div ng-class="{selected : selectedBusinessSubTopic === 0}" class="{{business.sub_topics[$index].topicClass}}" ng-attr-id="{{business.sub_topics[$index].topicID}}"  ng-click="changeBackgroundTopic($index,$event);displayInThePage($index,$event)">
                        {{business.sub_topics[$index].topicName}}
                    </div>
                </div>  
            </div>            
        </div>

     

        <!----------X-------------X------------X-----------------X----------------X  -->

        <div class="display-screen"></div>

        <!----------X-------------X------------X-----------------X----------------X  -->

        <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/learnings.cashe.co.in/css/quiz.css">
        <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/learnings.cashe.co.in/css/styles.less">
        <!-- <script src="https://s3.ap-south-1.amazonaws.com/learnings.cashe.co.in/js/casheLearnings.js"></script> -->
        <script src="js/casheLearnings.js"></script>
        <link rel="stylesheet" href="css/casheLearnings.css">
    </body>
</html>